*,
*::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 400px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background: #fff;
  display: block;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .navbar .navbar-body {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container .navbar .navbar-body .navbar-content {
  min-width: auto;
  height: 48px;
  color: black;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms;
  transition: -webkit-box-shadow 250ms;
  transition: box-shadow 250ms;
  transition: box-shadow 250ms, -webkit-box-shadow 250ms;
  display: block;
}

.container .navbar .navbar-body .navbar-content:not(.navbar-content) {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  z-index: 986;
}

.container .navbar .navbar-body .navbar-content .d-flex {
  float: right;
  padding-left: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}

.container .navbar .navbar-body .navbar-content .d-flex .link {
  display: block;
  line-height: normal;
  color: black;
}

.container .navbar .navbar-body .navbar-content .d-flex .link .link-content {
  display: block;
  font-family: arial, sans-serif;
  line-height: normal;
  padding-right: 15px;
  white-space: nowrap;
  color: black;
}

.container .navbar .navbar-body .navbar-content .d-flex .link .link-content .link-text {
  display: inline-block;
  padding-left: 15px;
  font-family: arial, sans-serif;
  line-height: normal;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .link .link-content .link-text a {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  cursor: pointer;
  font-family: arial, sans-serif;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .link .link-content .link-text a:focus {
  outline-offset: 2px;
}

.container .navbar .navbar-body .navbar-content .d-flex .link .link-content .link-text a:hover {
  text-decoration: underline;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content {
  float: right;
  position: relative;
  display: block;
  line-height: normal;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu {
  display: inline;
  line-height: normal;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button {
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button:first-child {
  padding-left: 4px;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn {
  position: relative;
  display: block;
  line-height: normal;
  white-space: nowrap;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  background-position: -64px -29px;
  opacity: 1;
  padding: 8px;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 40px;
  line-height: normal;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a:active {
  background-color: rgba(60, 64, 67, 0.12);
  outline: none;
  border-radius: 50%;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a:focus {
  opacity: 1;
  background-color: rgba(60, 64, 67, 0.1);
  background-position: -64px -29px;
  outline: none;
  border-radius: 50%;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a:hover {
  opacity: 1;
  background-position: -64px -29px;
  background-color: rgba(60, 64, 67, 0.08);
  outline: none;
  border-radius: 50%;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a svg {
  color: #5f6368;
  opacity: 1;
  fill: currentColor;
  cursor: pointer;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .button-menu .button .btn a svg:not(:root) {
  overflow: hidden;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .btn-signin {
  cursor: pointer;
  margin-left: 8px;
  color: #fff;
  text-decoration: none;
  background: #2b7de9;
  border: 1px solid transparent;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  display: inline-block;
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .btn-signin:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
          box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.container .navbar .navbar-body .navbar-content .d-flex .button-content .btn-signin:active {
  background: #63a0ef;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
          box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3), 0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .logo .logo-container {
  max-height: 92px;
  height: 100%;
  margin-top: auto;
  display: block;
}

.container .logo .logo-container img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
  width: auto;
  height: 92px;
  aspect-ratio: auto 272 / 92;
}

.container .search {
  padding: 20px;
  max-height: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.container .search form {
  display: block;
  margin-top: 0em;
}

.container .search form .form-content {
  display: block;
}

.container .search form .form-content .form-input {
  width: auto;
  max-width: 584px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfe1e5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.container .search form .form-content .form-input:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.container .search form .form-content .form-input .form-input-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  width: auto;
  max-width: 584px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-search .icon-search {
  margin: auto;
  display: block;
}

.container .search form .form-content .form-input .form-input-body .form-icon-search .icon-search .icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-search .icon-search .icon svg {
  display: block;
  height: 100%;
  width: 100%;
  color: #9aa0a6;
  fill: currentColor;
  line-height: 24px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-search .icon-search .icon svg svg:not(:root) {
  overflow: hidden;
}

.container .search form .form-content .form-input .form-input-body .form-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .search form .form-content .form-input .form-input-body .form-input-text .pR49Ae {
  color: transparent;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  white-space: pre;
  height: 34px;
}

.container .search form .form-content .form-input .form-input-body .form-input-text div {
  display: block;
}

.container .search form .form-content .form-input .form-input-body .form-input-text input {
  width: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-speech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: -5px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .search form .form-content .form-input .form-input-body .form-icon-speech .icon-speech {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

.container .search form .form-content .form-input .form-input-body .form-icon-speech .icon-speech svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.container .search form .form-content .form-input .form-input-body .form-icon-speech .icon-speech svg svg:not(:root) {
  overflow: hidden;
}

.container .search form .form-content .form-buttons {
  height: 70px;
  padding-top: 18px;
  top: 53px;
  z-index: 0;
  display: block;
}

.container .search form .form-content .form-buttons .center {
  display: block;
  text-align: -webkit-center;
}

.container .search form .form-content .form-buttons .center input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  white-space: pre;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .search form .form-content .form-buttons .center input[type="submit"]:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.container .search form .form-content .form-buttons .center input[type="submit"]:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.container .search form .form-content .form-buttons .center input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  background-color: -internal-light-dark(white, #3b3b3b);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
     border-image: initial;
}

.container .offer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.container .offer .offer-content {
  font-size: small;
  margin-bottom: 24px;
  text-align: center;
  display: block;
}

.container .offer .offer-content .offer-text {
  display: inline-block;
  line-height: 28px;
  font-size: small;
  text-align: center;
}

.container .offer .offer-content .offer-text a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
  cursor: pointer;
  line-height: 28px;
  font-size: small;
}

.container .footer {
  background: #f2f2f2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.container .footer .footer-header {
  display: block;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.container .footer .footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.container .footer .footer-body .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .footer-body .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .footer-body a {
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.container .footer .footer-body a:hover, .container .footer .footer-body a:active {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */